/* HTML tags */
body{
    font-family: 'Montserrat';
   
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    font-weight: bold;
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
}
h3{
   
    font-size: 1.5rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}